[Desktop Entry]
Name=DarkAges Linux Tool
Exec=/mnt/Storage/Games/DarkAges/Personal-DarkAges-Folder/Programs/darkages-linux-tool/darkages-linux-tool
Path=/mnt/Storage/Games/DarkAges/Personal-DarkAges-Folder/Programs/darkages-linux-tool
Icon=/mnt/Storage/Games/DarkAges/Personal-DarkAges-Folder/Programs/darkages-linux-tool/icon.png
Type=Application
Terminal=false
Categories=Utility;

