[Desktop Entry]
Name=DarkAges Linux Tool
Exec=/home/freyanile/Documents/Ughlis/darkages-linux-tool
Path=/home/freyanile/Documents/Ughlis
Icon=/home/freyanile/Documents/Ughlis/ughlisbig.png
Type=Application
Terminal=false
Categories=Utility;
